{% extends 'blog/base.html' %}

{% block content %}

<div class="row mt-5 ml-2">
    
    <div class="col-6">
        
        <select class="js-example-basic-single" name="copia">
            <option value="usuario">Selecione Livro</option>
            {%  for copy in copia %}
                <option value="usuario">{{ copy.livro.titulo }}</option>
            {% endfor %}
        </select>    
        
    </div>
   
    <div class="col-6">
            
        <select class="js-example-basic-single" name="usuario">
            <option value="usuario">Selecione Usuário</option>
            {%  for user in usuario %}
                <option value="usuario">{{ user.nome }}</option>
            {% endfor %}
        </select> 

    </div>
    
    <div>
        <button method="POST" class="btn btn-success mt-3" style="margin-left: 1040px;" name="emprestimo" value="{{emprestimo}}" type="submit">Confirmar</button>
    </div>    
</div>
{% endblock %}    